.log-section {
    margin-bottom: 20px;
}

.log-display {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #007BFF;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header button {
    background-color: white;
    color: #007BFF;
    border: 1px solid #007BFF;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px; /* Add margin for spacing between button and title */
}

header button:hover {
    background-color: #0056b3;
    color: white;
}
