/* General styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
    display: flex;
    background-color: #121212;
    color: #ffffff;
}

.sidebar {
    width: 200px;
    background-color: #1e1e1e;
    color: #ffffff;
    padding-top: 20px;
    position: fixed;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: width 0.3s;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    padding: 15px 10px;
    text-align: center;
}

.sidebar nav ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    font-size: 18px;
    transition: background 0.3s, color 0.3s;
}

.sidebar nav ul li a:hover {
    background-color: #333333;
    color: #1e90ff;
}

.main-content {
    margin-left: 200px;
    padding: 40px;
    flex: 1;
    text-align: center;
}

.main-content h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
}

.carousel-container {
    perspective: 1000px;
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotate 20s infinite linear;
}

.carousel-item {
    width: 250px;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-style: preserve-3d;
    transform-origin: center;
    transition: transform 1s, opacity 1s;
}

.carousel-item a {
    display: block;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.carousel-item h2 {
    margin: 10px 0 0;
    font-size: 24px;
    color: #1e90ff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 50px;
    }
    .main-content {
        margin-left: 50px;
        padding: 20px;
    }
    .sidebar nav ul li a {
        font-size: 14px;
    }
}
