/* General styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
    display: flex;
    background-color: #121212;
    color: #ffffff;
}

.sidebar {
    width: 200px;
    background-color: #1e1e1e;
    color: #ffffff;
    padding-top: 20px;
    position: fixed;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: width 0.3s;
}

.sidebar.collapsed {
    width: 50px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    padding: 15px 10px;
    text-align: center;
}

.sidebar nav ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    font-size: 18px;
    transition: background 0.3s, color 0.3s;
}

.sidebar nav ul li a:hover {
    background-color: #333333;
    color: #1e90ff;
}

.main-content {
    margin-left: 200px;
    padding: 40px;
    flex: 1;
    text-align: center;
    transition: margin-left 0.3s;
}

.main-content.collapsed {
    margin-left: 50px;
}

.main-content h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    justify-items: center;
    align-items: center;
}

.game {
    width: 250px;
    text-align: center;
    background-color: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.game img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #333;
}

.game h2 {
    margin: 15px 0;
    font-size: 24px;
    color: #1e90ff;
}

.game:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
    .sidebar {
        width: 50px;
    }
    .main-content {
        margin-left: 50px;
        padding: 20px;
    }
    .sidebar nav ul li a {
        font-size: 14px;
    }
}
